<!DOCTYPE html>
 <html>
   <head>
     <meta charset="utf-8">
     <title>Kea 2017</title>
     <link type="text/css" rel="stylesheet" href="../style.css"/>
   </head>
   <body>
     <div>
       <h1>Kea - 2017</h1>
     </div>
     <nav>
       <a href="/index"><button type="button" name="home">
         Home</button></a>
       <a href="/users"><button type="button" name="profiles">
         Profiles</button></a>
       <a href="/location"><button type="button" name="location">
         Location</button></a>
     </nav>
     {{{body}}}
   </body>
 </html
