<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Kea 2017</title>
  <link type="text/css" rel="stylesheet" href="./styles.css"/>
  <link type="text/css" rel="stylesheet" href="./otherstyles.css"/>

<link rel="stylesheet" href="/main.css">

<body>
  <div>
    <h1>Kea - 2017</h1>
  </div>
  <nav>
    <a href="/index"><button type="button" name="home">
      Home</button></a>
    <a href="/profiles"><button type="button" name="profiles">
      Team Members</button></a>
    <a href="/profile-page"><button type="button" name="profiles-page">
      Profiles</button></a>
    <a href="/location"><button type="button" name="location">
      Location</button></a>
  </nav>
  {{{body}}}
  <footer class="page-footer">
            <div class="container">
              <div class="row">
                <div class="col l6 s12">
                  <h5 class="white-text">Footer Content</h5>
                  <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
                </div>
              </div>
            </div>
            <div class="footer-copyright">
              <div class="container">
              © 2017 Copyright - Annah, Carla, Brian, Aaron
              <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
              </div>
            </div>
          </footer>
</body>
</html
