<div class="container">

  <br>
  <img src="https://s-media-cache-ak0.pinimg.com/564x/75/ef/04/75ef040bb7d3a6462c6ed4c98eb371ef.jpg">
</div>


<style>
.purple {
  color: purple;
}
body {
  text-align: center;
  font-size: 20px;
}

li {
  list-style: none
}
.image {
  text-align: center;
  margin-left: 45%
}


</style>
