<!DOCTYPE html>
<html>
  <head>
    <title>EDA Phase 1 Express Boilerplate</title>
  </head>
  <body>
    <h1>hello</h1>
    <!-- <ul>
    {{#each users}}
      <li>{{name}} ({{email}})</li>
    {{/each}}
    </ul> -->
   </body>
</html>
