<div class="">
  <h2>Team Members</h2>
</div>
<div>
  <ul>
  {{#each profiles}}
    <li><a href="/profiles/{{id}}">{{name}}</a></li>
  {{/each}}
  </ul>
</div>


<!-- <div class="">
  <a href="/add">Add team member</a>
</div> -->
