.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.img-circle {
  border-radius: 50%;
  object-fit: cover;
  width: 230px;
  height: 230px;
  display: flex;
  flex-direction: column;
}
